<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Quote</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="animated-bg">
    <div class="add-quote-container">
      <div class="add-quote-title">Edit quote</div>
      <form class="quote-form" method="post" action="/edit/<%= quote.id%>?_method=PUT">
        <div class="input-group">
          <label for="text" class="input-label">Quote</label>
          <input id="text" name="text" class="input-field" placeholder="Enter your quote" required value="<%= quote.text %>"></input>
        </div>
        <div class="input-group">
          <label for="author" class="input-label">Author</label>
          <input type="text" id="author" name="author" class="input-field" placeholder="Enter the author name" required value="<%= quote.author %>"/>
        </div>
        <button type="submit" class="submit-btn">Edit</button>
      </form>
    </div>
</body>
</html>
