<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit quote</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="animated-bg">
  <div class="add-quote-container">
    <div class="add-quote-title">Edit quote</div>
    <form class="quote-form">
      <div class="input-group">
        <label for="quote" class="input-label">Quote</label>
        <textarea id="quote" name="quote" class="input-field" placeholder="Enter your quote" required></textarea>
      </div>
      <div class="input-group">
        <label for="author" class="input-label">Author</label>
        <input type="text" id="author" name="author" class="input-field" placeholder="Enter the author name" required />
      </div>
      <div class="input-group">
        <label for="source" class="input-label">Source</label>
        <input type="text" id="source" name="source" class="input-field" placeholder="Enter the source" required />
      </div>
      <button type="submit" class="submit-btn">Edit</button>
    </form>
  </div>
</body>
</html>
