<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Collection</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="animated-bg">
    <main class="home">
        <h1>Quote Collection</h1>
        <div class="buttons">
            <a href="/quotes" class="button">📜 All Quotes</a>
            <a href="/add-quote" class="button">➕ Add Quote</a>
        </div>
    </main>
    <footer>
        made with Node.js, Express, EJS, MongoDB
    </footer>
</body>
</html>
